/* Fonts */
@font-san-serif: 'Roboto', 'Helvetica Neue', Arial, san-serif;

/* Colors */
@white: #fff;

/* Base CSS */
* {
  box-sizing: border-box;
}

html,
body,
.app {
  height: 100%;
  font-family: @font-san-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  margin: 0;
}

input,
textarea {
  font-family: @font-san-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  outline: 0;
}

/* TODO: figure out best design for payment form */
.StripeElement {
  background: @white;
  border: 1px solid lightgray;
  border-radius: 4px;
  margin-bottom: 8px;
  padding: 8px;
}
